<!-- Header -->
<header>
	<!-- Header desktop -->
	<div class="wrap-menu-header gradient1 trans-0-4">
		<div class="container h-full">
			<div class="wrap_header trans-0-3">
				<!-- Logo Container -->
				<div class="logo-container">
					<div class="logo">
						<a href="index.html">
							<img src="images/icons/logo.png" alt="IMG-LOGO" data-logofixed="images/icons/logo2.png">
						</a>
					</div>
				</div>

				<!-- Menu and Language Switcher -->
				<div class="wrap_menu p-l-15 p-l-0-xl flex-w flex-l-m">
					<nav class="menu">
						<ul class="main_menu">
							<li>
								<a href="index.html#" lang="hy">Գլխավոր</a>
							</li>

							<li>
								<a href="index.html#" lang="hy">Խորհրդատվություն</a>
							</li>

							<li>
								<a href="index.html#" lang="hy">Տեսականի</a>
							</li>

							<li>
								<a href="index.html#" lang="hy">Մեր մասին</a>
							</li>

							<li>
								<a href="index.html#" lang="hy">Կապ մեզ հետ</a>
							</li>
						</ul>
					</nav>
					
					<!-- Language Switcher -->
					<div class="language-switcher m-l-10">
						<div class="custom-language-select">
						<div class="selected-language" id="selectedLanguage">
							<img src="images/flags/armenia.png" alt="Armenia" class="flag-icon">
							<span class="language-text">Հայ.</span>
							<i class="fa fa-chevron-down"></i>
						</div>
							<div class="language-options" id="languageOptions">
								<div class="language-option" data-value="hy">
									<img src="images/flags/armenia.png" alt="Armenia" class="flag-icon">
									<span>Հայերեն</span>
								</div>
								<div class="language-option" data-value="en">
									<img src="images/flags/uk.png" alt="UK" class="flag-icon">
									<span>English</span>
								</div>
								<div class="language-option" data-value="ru">
									<img src="images/flags/russia.png" alt="Russia" class="flag-icon">
									<span>Русский</span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Social -->
				<div class="social flex-w flex-l-m p-r-20">
					<a href="https://www.facebook.com/profile.php?id=100091137744305&locale=hy_AM" target="_blank" rel="noopener noreferrer"><i class="fa fa-facebook" aria-hidden="true"></i></a>
					<a href="https://www.instagram.com/gaos_furniture/" target="_blank" rel="noopener noreferrer"><i class="fa fa-instagram m-l-21" aria-hidden="true"></i></a>

					<button class="btn-show-sidebar m-l-33 trans-0-4"></button>
				</div>
			</div>
		</div>
	</div>
</header>

<!-- Sidebar -->
<aside class="sidebar trans-0-4">
	<!-- Button Hide sidebar -->
	<button class="btn-hide-sidebar ti-close color0-hov trans-0-4"></button>

	<!-- - -->
	<ul class="menu-sidebar p-t-95 p-b-70">
		<li class="t-center m-b-13">
			<a href="index.html#" class="txt19" lang="hy">Գլխավոր</a>
		</li>

		<li class="t-center m-b-13">
			<a href="index.html#" class="txt19" lang="hy">Խորհրդատվություն</a>
		</li>

		<li class="t-center m-b-13">
			<a href="index.html#" class="txt19" lang="hy">Տեսականի</a>
		</li>

		<li class="t-center m-b-13">
			<a href="index.html#" class="txt19" lang="hy">Մեր մասին</a>
		</li>

		<li class="t-center m-b-33">
			<a href="index.html#" class="txt19" lang="hy">Կապ մեզ հետ</a>
		</li>
	</ul>

</aside>
